<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>447754022478-sromrs1ihvj75k35f5d9gbgup3n5dom2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447754022478-sromrs1ihvj75k35f5d9gbgup3n5dom2</string>
	<key>API_KEY</key>
	<string>AIzaSyCC1fxJBXrz9IqDkuY997f4d0RrNq9EuMs</string>
	<key>GCM_SENDER_ID</key>
	<string>447754022478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>William-Chen.Rugby-School-Stodge</string>
	<key>PROJECT_ID</key>
	<string>rs-stodge-student</string>
	<key>STORAGE_BUCKET</key>
	<string>rs-stodge-student.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447754022478:ios:757637765e54952acd1d1f</string>
</dict>
</plist>